version: '3.7'
services:
 opensearch:
  image: opensearchproject/opensearch:2.11.1
  container_name: opensearch
  environment:
   - cluster.name=opensearch-cluster
   - node.name=opensearch-node1
   - discovery.type=single-node
   - bootstrap.memory_lock=true
   - plugins.security.ssl.http.enabled=false
   - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
  ports:
   - "9200:9200"

  ulimits:
    memlock:
     soft: -1
     hard: -1
    nofile:
     soft: 65536
     hard: 65536
  volumes:
   - opensearch-data:/usr/share/opensearch/data
  networks:
   - opensearch-net

 opensearch-dashboards:
  image: opensearchproject/opensearch-dashboards:2.11.1
  container_name: opensearch-dashboards
  ports:
   - "5601:5601"
  environment:
   - OPENSEARCH_HOSTS=["http://opensearch:9200"]
   - DISABLE_SECURITY_DASHBOARDS_PLUGIN=false
  networks:
   - opensearch-net
  depends_on:
   - opensearch

 logstash:
  image: opensearchproject/logstash-oss-with-opensearch-output-plugin:7.16.3
  container_name: logstash
  volumes:
   - ./pipeline:/usr/share/logstash/pipeline
  ports:
   - "5044:5044"
   - "9601:9600"
  environment:
   - LS_JAVA_OPTS=-Xms512m -Xmx512m
  networks:
   - opensearch-net
  depends_on:
   - opensearch

volumes:
 opensearch-data:

networks:
 opensearch-net:
  driver: bridge
